* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg,#71b7e6,#9b56b6);
}
.registration {
    width: 400px;
    height: 420px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 15px;
    gap: 20px;
    background-color: white;
}
.userdetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form {
    width: 300px;
    height: 50px;
    position: relative;
}
.form input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #000000;
    opacity: 0.5;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 22px;
    outline: none;
    transition: 0.2s;
    font-size: 22px;
}
.form input:focus {
    outline: 2px solid #9c00c0;
    border: none;
    transition: 0.1s;
}
.form input:active {
    outline: purple;
    transition: 0.1s;
}
.form label {
    position: absolute;
    top: 15px;
    left: 15px;
    text-transform: capitalize;
    font-size: 16px;
    transform: top 1000ms;
    background: #fff;
    border-radius: 5px;
    padding: 0px 3px;
}
.form input:focus ~ label {
    top: -9px;
    color: #9c00c0;
    transition: 0.2s;
}

.head{
    color:#71b7e6;
    font-size: 20px;
    padding: 2px;
}

.button{
    border: 1px solid transparent;
    height: 35px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(135deg,#71b7e6,#9b56b6);
    color: white;
    margin: -2px 260px;
    cursor: pointer;
    transition: 500ms;
}

.button:hover{
    box-shadow: 2px 2px 6px #9b56b6;
}


